body {
    font-size: 20px;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px; padding: 0;
    background-size: contain;
}

header{
display: flex;
flex-direction: row;
}

header ul.nav{
display: flex;
flex-direction: row;
gap: 25px;
list-style-type: none;
margin-top: 33px;
}

header ul.nav li a{
text-decoration: none;
font-size: 37px;
color: rgb(12, 125, 44);
font-family: Arial;
padding: 7px;
}

header ul.nav li a:hover{
color: rgb(0, 1, 1);
}

main form label {
    display: inline-block;
    min-width: 10vw;
    font-size: 150%;
    text-decoration: none;
    color: rgb(12, 125, 44);
    font-family: Arial;
    margin-left: 20px;
}

main form textarea{
    font-size: 120%;
}
main form button{
    font-size: 20px;
    color: rgb(12, 125, 44);
    font-family: Arial;
    margin-left: 20px;
}

header .logo{
    font-size: 55px;
    color: rgb(12, 125, 44);
    font-family: Arial;
    padding-left: 7px;
    margin: 17px;
}